@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
	font-family: 'Open Sans', 'Helvetica Neue', 'sans-serif';
	font-size: 18px;
	text-align: center;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-color: BLACK;
	color: SILVER;
}

header {
	background-color: rgba(2, 38, 54, 0.8);
	padding-bottom: 0.5em;
}

.form-control, .btn {
	margin-top: 1em;
	margin-bottom: 1em;
	display: inline-block;
	width: 150px;
}

#control {
	margin: auto;
}

#displayedTimer {
	font-size: 250px;
	color: #022636;
}